<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puzzle.puzlive"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.puzzle.puzlive.PuzLive"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
                <activity
            android:name="com.puzzle.puzlive.Niveles"
            android:label="@string/title_niveles" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.Acerca_de"
            android:label="@string/title_acerca" >
        </activity>
        
               <activity
            android:name="com.puzzle.puzlive.Facil"
            android:label="@string/title_facil"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.puzzle.puzlive.Medio"
            android:label="@string/title_medio"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.Dificil"
            android:label="@string/title_dificil"
            android:screenOrientation="landscape" >
        </activity>
        
        
        
    </application>
    
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
</manifest>