<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puzzle.puzlive"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.puzzle.puzlive.PuzLive"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.puzzle.puzlive.Modalidades"
            android:label="@string/title_modalidades" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.NivelesEstatico"
            android:label="@string/title_nivelesestatico" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.NivelesDinamico"
            android:label="@string/title_nivelesdinamico" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.Acerca_de"
            android:label="@string/title_acerca" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.FacilDinamico"
            android:label="@string/title_facildinamico"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.MedioDinamico"
            android:label="@string/title_mediodinamico"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.DificilDinamico"
            android:label="@string/title_dificildinamico"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.FacilEstatico"
            android:label="@string/title_facilestatico"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.MedioEstatico"
            android:label="@string/title_medioestatico"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.puzzle.puzlive.DificilEstatico"
            android:label="@string/title_dificilestatico"
            android:screenOrientation="landscape" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>